@import "tailwindcss";
.header {
  height: 5.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.1);
}

/* LOGO */
.logo-container img {
  height: 50px;
  width: 80px;
  margin: 17px;
}
